/* style.css */

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(133, 133, 250);
    color: white;
}

form {
    padding: 2rem;
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 4px solid #7171fb;
    background-color: rgba(0, 0, 0, 0.444);
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
}

form>h1 {
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 1px #000000;
}

.form-divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: 900;
    font-size: 1.4rem;
}

input,
select {
    display: flex;
    align-items: center;
    width: 14rem;
    height: 2.4rem;
    text-align: center;
    border: 3px solid #7171fb;
    font-size: 1.4rem;
}

input[type="submit"] {
    flex-direction: column;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.444);
    color: white;
    margin-top: auto;
    width: 10rem;
    text-align: center;
}

#weather-container {
    width: 60%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #7171fb;
    background-color: rgba(0, 0, 0, 0.444);
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    color: white;
    gap: 2rem;
}

#top-grid {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-areas:
        "loc temp cond";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.444);
    border-bottom: 2px solid #7171fb;
}

#current-location {
    grid-area: loc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
}

#current-temp {
    grid-area: temp;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#current-temp-display {
    font-size: 3rem;
    font-weight: 900;
}

#current-condition {
    grid-area: cond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#condition-icon {
    width: 6rem;
}

#condition-desc {
    font-weight: 900;
}

#other-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow-y: scroll;
}

#date-time-div {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.444);
    border: 2px solid #7171fb;
    border-radius: 1rem;
    padding: 1rem;
}

#current-date {
    font-size: 2rem;
    font-weight: 900;
}

#other-info-grid {
    margin: 0 auto;
    width: fit-content;
    height: 12rem;
    display: grid;
    grid-template-areas:
        "rise-set wind humidity visibility uvindex";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.other-info-div {
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.444);
    border: 2px solid #7171fb;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
    padding: 1rem;
}

.other-info-icon {
    width: 5rem;
    margin: 0.5rem;
}

/* Sunrise / Sunset info */
#rise-set-div {
    grid-area: rise-set;
}

#rise-set-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

#rise-set-date {
    font-weight: 1000;
}

#rise-inner-text,
#set-inner-text {
    font-weight: 1000;
}

/* Wind Info */
#wind-info {
    grid-area: wind;
}

#wind-info-text {
    font-weight: 1000;
}

#wind-info-speed {
    font-weight: 1000;
}

/* Humidity info */
#humidity-info {
    grid-area: humidity;
}

#humidity-info-text {
    font-weight: 1000;
}

#humidity {
    font-weight: 1000;
}

/* Visibility info */
#visibility-info {
    grid-area: visibility;
}

#visibility-info-text {
    font-weight: 1000;
}

#visibility {
    font-weight: 1000;
}

/* UV Index info */
#uvIndex-info {
    grid-area: uvindex;
}

#uvindex-info-text {
    font-weight: 1000;
}

#uv-index {
    font-weight: 1000;
}

#eight-h-f-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

#eight-h-forecast-title {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.444);
    border: 2px solid #7171fb;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 900;
    margin: 2rem;
}

#eight-h-f-title-desc {
    font-size: 1rem;
    font-weight: normal;
}

#eight-h-f-grid {
    height: 8rem;
    display: flex;
    gap: 1rem;
    place-items: center;
}

.hourly-div {
    width: 6rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.444);
    border: 2px solid #7171fb;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
    gap: 1rem;
}

.hourly-time {
    height: 1rem;
    font-size: 1.2rem;
    font-weight: 1000;
}

.hourly-icon {
    height: 2rem;
}

.hourly-temp {
    height: 1rem;
    font-size: 1.2rem;
    font-weight: 1000;
}

#daily-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

#daily-title {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.444);
    border: 2px solid #7171fb;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 900;
    margin: 2rem;
}

#daily-title-info {
    font-size: 1rem;
    font-weight: normal;
}

#daily-grid {
    height: 10rem;
    display: flex;
    gap: 1rem;
    place-items: center;
}

.daily-div {
    width: 8rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.444);
    border: 2px solid #7171fb;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
    gap: 1rem;
}

.daily-date {
    height: 1rem;
    font-size: 1.2rem;
    font-weight: 1000;
}

.daily-icon {
    height: 2rem;
}

.daily-hi-lo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.daily-hi,
.daily-lo {
    text-align: center;
}

.hi-temp,
.lo-temp {
    font-weight: 1000;
}